.archive {
  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: lighten($link-color, 20%);
      text-decoration: none;
    }
  }
}

.event-card {
  min-height: 120px;
}

.team_member {
  .profile-img {
    @media screen and (min-width: 768px) {
      height: 300px;
    }
    @media screen and (max-width: 768px) {
      width: 40vw;
    }
    margin-right: 10px;
  }
  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: lighten($link-color, 20%);
      text-decoration: none;
    }
  }
  p {
    font-size: 1.2em;
  }
  .team-info-logo {
    font-size: 1.5em;
    img {
      width: 38px;
    }
  }
}

.card-team-name {
  font-size: 30px;
  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
  font-variant: small-caps;
}

.next-seminar {
  h3 {
    font-variant: small-caps;
    font-weight: bold;
    color: $sec-color;
  }

  p {
    font-size: 0.90em;
  }
}

.secondary {
  color: $sec-color;
  font-size: 0.85em;
}

.title {
  font-family: 'Share', cursive;
  a {
    color: $prim-color;
    &:hover {
      color: lighten($prim-color, 20%);
      text-decoration: none;
    }
  }
}

.site-nav {
  line-height: 56px;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;

  .page-link {
    font-weight: bold;
    font-family: 'Share', cursive;
    line-height: $base-line-height;

    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;
    border-bottom: 1px solid $grey-color-light;
  }

  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: lighten($link-color, 20%);
      text-decoration: none;
    }
  }

}

.float-rss {
  position: relative;
  float: right;
  img {
    width: 16px;
    height: 16px;
  }
}

.img-icon {
  height: 32px;
}

.card {
  background-color: $card-color;
  border: 1px solid $border-color;
  padding: 3px 20px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;

  li {
    margin: 10px 0 0px 0;
    a {
      font-weight: bold;
    }
  }
  a {
    &, &:visited {
      border-style: none;
      color: $link-color;
    }
    &:hover {
      color: lighten($link-color, 20%);
      text-decoration: none;
    }
  }
  h3, h4 {
    font-variant: small-caps;
  }
  .excerpt {
    padding: 0px 10px;
    color: $grey-color;
  }
  img {
    height: 40px;
    @media screen and (max-width: 768px) {
      height: 30px;
    }
  }
  .photo {
    height: 140px;
    @media screen and (max-width: 768px) {
      height: 100px;
    }
    margin-right: 10px;
    @media screen and (max-width: 768px) {
      margin-right: 5px;
    }
  }
}

.icons {
  font-size: 30px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $grey-color-light;
}
