---
layout: default
---

{% for tm in site.data.team %}
{% if page.key == tm.key %}

<div class="team_member container-fluid">

  <h1> {{ tm.fullname }} </h1>

  <div class="col-md-8">
    <p>
    {{ content }}
    </p>

  <h2> Research Topics </h2>
  {% for t in tm.research %}
  <ul>
    <li> {{ t }} </li>
  </ul>
  {% endfor %}

  </div> <!-- End of col-md-8 -->

  <div class="col-md-4">
    <!-- Photo -->
    <img class="img-thumbnail img-responsive" src="{{ site.baseurl }}/images/{{
    tm.image }}">

    <hr>

    <!-- Info -->
    <div class="info">
    <a href="{{ tm.lattes }}">
      <img class="logo" src="{{ site.baseurl }}/images/lattes.png" alt="Lattes">
    </a><br>
    {% if tm.site %}
    <a href="{{ tm.site }}">
      <i class="fa fa-globe fa-2x"></i>
      Site
    </a><br>
    {% endif %}
    {% if tm.github %}
    <a href="http://github.com/{{ tm.github }}">
      <i class="fa fa-github-square fa-2x"></i>
      GitHub
    </a><br>
    {% endif %}
    {% if tm.email %}
    <a href="mailto:{{ tm.email }}">
      <i class="fa fa-envelope-square fa-2x"></i>
      E-mail
    </a><br>
    {% endif %}
    </div>
  </div> <!-- End of col-md-4 -->

<div>

{% endif %}
{% endfor %}
