---
layout: default
---

{% for tm in site.data.team %}
{% if page.key == tm.key %}

<div class="team_member container-fluid">

  <h1> {{ tm.fullname }} </h1>

  <div class="col-md-8">
    <p>
    {{ content }}
    </p>

  <h2> Research Topics </h2>
  {% for t in tm.research %}
  <ul>
    <li> {{ t }} </li>
  </ul>
  {% endfor %}

  </div> <!-- End of col-md-8 -->

  <div class="col-md-4">
    <!-- Photo -->
    <img class="profile-img img-thumbnail img-responsive" src="{{ site.baseurl }}/images/{{
    tm.key }}.png">

    <hr>

    <!-- Info -->
    <div class="team-info-logo text-center">
    <a href="{{ tm.lattes }}">
      <img class="logo" src="{{ site.baseurl }}/images/lattes.png" alt="Lattes">
    </a>
    {% if tm.email %}
    <a href="mailto:{{ tm.email }}">
      <i class="fa fa-envelope fa-3x"></i>
    </a>
    {% endif %}
    {% if tm.site %}
    <a href="{{ tm.site }}">
      <i class="fa fa-globe fa-3x"></i>
    </a>
    {% endif %}
    {% if tm.github %}
    <a href="http://github.com/{{ tm.github }}">
      <i class="fa fa-github fa-3x"></i>
    </a>
    {% endif %}
    {% if tm.rgate %}
    <a href="https://www.researchgate.net/profile/{{ tm.rgate }}">
      <i class="ai ai-researchgate ai-3x"></i>
    </a>
    {% endif %}
    {% if tm.scholar %}
    <a href="https://scholar.google.com.br/citations?user={{ tm.scholar }}">
      <i class="ai ai-google-scholar ai-3x"></i>
    </a>
    {% endif %}
    {% if tm.orcid %}
    <a href="https://scholar.google.com.br/citations?user={{ tm.orcid }}">
      <i class="ai ai-orcid ai-3x"></i>
    </a>
    {% endif %}
    </div>
  </div> <!-- End of col-md-4 -->

<div>

{% endif %}
{% endfor %}
